<!-- src/app/login/login.component.html -->
<section class="section">
    <div class="container">
        <div class="columns is-right">
          <div class="column">
            <div class="has-text-right">
                <button class="button is-primary" (click)="onClickNewAppoinment()">Nuovo appuntamento</button>
              </div>
          </div>
        </div>
      <div class="columns is-centered">
        <div class="column">
            TODO RECAP APPOINTMENT
        </div>
      </div>
    </div>
  </section>
  